<a href="https://colab.research.google.com/github/daiveeknaik14/BookRecommendationSystem/blob/master/BookRecommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Book Recomendation System based on **Collaborative Filtering using SVD**

---

## We will be using surprise for the implementation.
## Surprise is a scikit for recommendor systems. It is highly intuitive.
## Here we first install surprise using pip.

In [29]:
!pip3 install surprise

Requirement already satisfied: surprise in /usr/local/lib/python3.6/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.6/dist-packages (from surprise) (1.1.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.16.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.15.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.18.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.4.1)

## Importing libraries that contain modules to be used throughout the implementatoion.

In [30]:
import numpy as np
import pandas as pd
from surprise import Dataset, Reader, SVD, accuracy
from surprise.model_selection import train_test_split
from surprise.model_selection import cross_validate

In [31]:
#inputing the data to dataframes from csv files
df_books = pd.read_csv('/content/drive/My Drive/Datasets/bookData/books.csv')
df_ratings = pd.read_csv('/content/drive/My Drive/Datasets/bookData/ratings.csv')

## Displyed the headers of both, the books and the ratings dataset.
## Note that here we could have used print() but it cuts out the columns in between and hence we use display the column header.

In [32]:
#displaying headers of both dataframes
display(df_books.head())
display(df_ratings.head())

   id  ...                                    small_image_url
0   1  ...  https://images.gr-assets.com/books/1447303603s...
1   2  ...  https://images.gr-assets.com/books/1474154022s...
2   3  ...  https://images.gr-assets.com/books/1361039443s...
3   4  ...  https://images.gr-assets.com/books/1361975680s...
4   5  ...  https://images.gr-assets.com/books/1490528560s...

[5 rows x 23 columns]

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

## Given below is the breakdown of all the modules used in the code snipped used below


*   **Reader** : The Reader class is used to parse the file containing ratings.
*   **Dataset.load_from_df** : It is used to load dataset from pandas from dataframe. The parameters are 

            df (Dataframe) – The dataframe containing the ratings. It must have three columns, corresponding to the user (raw) ids, the item (raw) ids, and the ratings, in this order.

            reader (Reader) – A reader to read the file. Only the rating_scale field needs to be specified.



*   **SVD()** : We use this to initialise our algorithm to SVD.
*   **cross_validate** : We use cross_validate to calculate the RMSE and MAE for the validation dataset. RMSE and MAE are useful to assess the performance of the model.

# **NOTE:**

It is important to note here that in cross_validate we use KFolds method to evaluate our model. What is does is basically it splits the validation data set into different models and evaluate them seperately as unique groups. This removes the optimistic and biased analysis of other evaluation models.

# Why SVM ?

The whole concept of SVM is actually interesting. It basically is the PCA or Principal Component Analysis of, in our case, first the user preference of books which basically reduces the dimensionality to the specific genres.

 Then in the second calculation PCA is performed on the books selected by users which dimensionalise the books into genres. The multiplication of one matrix with the transpose of the other results in a matrix called R. The matrix R is then use to predict the values. This whole process is also called matrix factorisation.

The whole concept is brilliantly explained on the following link -

https://www.youtube.com/watch?v=8wLKuscyO9I&t=334s

In [12]:
#initialising, fitting, training and validating for our data
r = Reader(rating_scale=(1,5))
df = pd.merge(df_books, df_ratings, on='book_id')
data = Dataset.load_from_df(df_ratings[['book_id', 'user_id', 'rating']], r)
train, test = train_test_split(data, test_size=0.20)
model = SVD()
model.fit(train)
pred = model.test(test)
cross_validate(model, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8431  0.8442  0.8437  0.8432  0.8425  0.8433  0.0006
MAE (testset)     0.6588  0.6604  0.6596  0.6594  0.6590  0.6595  0.0006
Fit time          56.22   56.26   56.71   56.31   56.56   56.41   0.19
Test time         2.27    2.22    2.32    2.26    2.21    2.25    0.04

{'fit_time': (56.21846294403076,
  56.25603938102722,
  56.71034598350525,
  56.30690121650696,
  56.55851721763611),
 'test_mae': array([0.6588025 , 0.66040377, 0.65964248, 0.65943234, 0.65900693]),
 'test_rmse': array([0.84311969, 0.84418993, 0.84365167, 0.84320959, 0.84253342]),
 'test_time': (2.265202045440674,
  2.22481369972229,
  2.3191134929656982,
  2.255211353302002,
  2.209268569946289)}

## The following is the function that returns top 10 recommended books for the user depending on the user_id. It removes books that the user has already read.

In [27]:
def recommendor_function(user_id):
  #copying the books data to a variable
  user = df_books.copy()
  #finding out the books that the user has already read
  already_read = df[df['user_id'] == user_id]['book_id'].unique()
  #resetting indexes and removing read books from the user dataframe
  user = user.reset_index()
  user = user[~user['book_id'].isin(already_read)]
  #adding the estimated score to the last column
  user['Estimate_Score']=user['book_id'].apply(lambda x: model.predict(user_id, x).est)
  ser = user.drop('book_id', axis = 1)
  #displaying the top 10 recommended books in descending order
  user = user.sort_values('Estimate_Score', ascending=False)
  display(user.head(10))

## Taking in the user id from the user.

In [24]:
user_id_for_rec = int(input("Enter your user id for recommendation: "))

Enter your user id for recommendation: 34

## The following call will display the top 10 recommended books for the user id that we entered.


---


# **Note that the Estimate Score for how much the user would like the book is displayed in the last column.**

In [28]:
recommendor_function(user_id_for_rec)

      index  ...  Estimate_Score
3127   3127  ...        4.180672
8994   8994  ...        4.087901
1410   1410  ...        4.040164
2670   2670  ...        3.967363
1985   1985  ...        3.963375
6664   6664  ...        3.955236
6062   6062  ...        3.919712
711     711  ...        3.903955
9792   9792  ...        3.844877
2740   2740  ...        3.824747

[10 rows x 24 columns]